<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
*{
    margin:0;
    

}
body{
    background-color:white;
}
.tp{
    background-color: white;
}

.header{
    
    border-radius: 20px;
    box-shadow: 4px 3px 3px grey;
    height:105px;
    margin-top: 20px;
}

.list{
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 5px;
    padding-bottom: 15px;
    font-family: "Rajdhani", sans-serif;;
}
.udemy{
    width:140px;
    background-color: azure;
}
.shopping{
    width:40px
}
.browse{
    width:40px;
}
.log{
    width:80px;
    height:40px;
}
.sign{
    width:80px;
    height:40px;
    color: aliceblue;
    background-color:black;
}
#jAt{
    background-color: white;
}
.search{
    width:200px;
    height:40px;
    border:1px solid black;
    padding-top:11px;
    border-radius: 60px;
}
.btn{
    color:azure;
    background-color: black;
    width:100px;
    height:50px;
    margin-top:20px;
}
.up{
    text-align: center;
    background-color:black;
    margin-top: 15px;
    height:90px;
    border: 0.5px solid #f0e68c;
    border-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 5px;
    
}
.uphead{
    display:inline;
    font-size: 1.1rem;
    margin-top: -20px;
    color: white;
}


.kanu{
    margin-bottom:20px;
}
.para{
    font-size: 1.1rem;
}
.fb{
    position:relative;
    justify-content: space-around;
    margin-bottom: 20px;
}
.content{
    
    border-radius: 20px;
    height:270px;
    margin-top: 30px;
    padding:10px;
    box-shadow: 2px 3px 2px 2px gray;
    background-color:whitesmoke;
    position: absolute; 
    top:20px;
    left:70px;
    margin-right: 130px;
    
}
.re{
    font-size: 1.0rem;
    margin-top: 10px;
}
.img{
    width:700px;
    height:400px;
    border-radius: 20px;
    padding: 5px;
}

.fb{
    margin-top: 20px;
    align-items: center;
    margin-left: 90px;
    display: flex;
    background-color: white;

}
.main2{
    margin-left: 120px;
    align-items: start;
}
#head{
    font-size: 2.3rem;
    font-family:  "Fira Sans", sans-serif;
}
#para{
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    color: grey;
    margin-top: -10px;
}
#list{
    align-items: center;
    list-style-type: none;
    font-size: 1.1rem;
    display: flex;
    justify-content:left;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:#1a1110;
    margin-top: 55px;
    gap: 18px;
    
}
#box{
    list-style-type: none ;
    display: flex;
    justify-content:left;
    gap:10px;
    margin-left: 30px;
    
}
.kal{
    height: 60px;
    width:100px;
}
.box{
    border: 0.8px solid #dcdcdc ;
    border-radius: 25px;
    padding-bottom:5px ;
    background-color:#f0f8ff ;
    text-align:center;
    margin-right: 19px;
    width:150px;
    height:80px;
    margin-top: 20px;
    
}
.nwe{
    color: white;
}
#space{
    padding-top: 35px;
}
.wt{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: -8px;
}
.girl{
    width:325px;
    object-fit: contain;
    border-radius: 15px;
    margin-left: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.star{
    width:100px;
}
.kanu{
    align-items:start;
    font-weight: bold;
    margin-top: -10px;
    font-size: 1.1rem;
}
.lin{
    text-decoration: line-through;
}
.name{
    font-family: "Ubuntu Mono", monospace;
    font-weight: lighter;
    color:#808080 ;
}
.course{
    display: flex;
    margin-top: 30px;
}
.border{
    border:0.4px solid #d3d3d3 ;
    border-radius: 10px;
    margin-left: 15px;
    text-align:center;
    background-color: white;
    height:385px;
    padding: 10px;
}
.gir{
    margin-left: 500px;
    
}
#color{
    background-color:#f5f5f5;
    width:1450px;
    margin-left: -80px;
    height:680px;
    margin-top: 40px;
}
.span{
    color:#808080;
}
#me{
    border:1px solid black;
    width:350px;
    height:40px;
    padding-top:13px;
    padding-left: 35px;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-left: 30px;
    background-color:white;
}
.hn{
    width:100px;
    color:#d3d3d3;
}
.line{
    display: flex;
    justify-content:space-around;
}
#high{
     font-family: "Mukta", sans-serif;
     font-size: 1.2rem;
     text-align: center;
}
#ja{
    margin:60px 0px;
}
.ka{
    width:80px;
}
#k{
    width:600px;
    display: flex;
    gap:30px;
    margin-top: 26px;
    border:1px solid blueviolet;
    box-shadow:8px 6px  10px 2px blueviolet;
    border-radius: 10px;
}
.m{
    font-size: 1.1rem;
    color:#808080;
}
.ma{
    width:600px;
    margin-top: 35px;
    display: flex;
    gap:30px;
    border:1px solid #a9a9a9 ;
    border-radius:10px
}
.man{
    display:inline;
    margin-right: 20px;
}
a{
    color:blue;
}
button{
    color:blueviolet;
    font-weight: 800;
}
a{
    font-size: 1.1rem;
    align-items: center;
    margin-top: -30px;
}
#al{
    width:500px;
}
.man2{
    display: flex;
    justify-content:space-around;
    background-color:#f5f5f5 ;
    height:800px;
}
.al{
    width:20px;
}
.alp{
    display: flex;
    justify-content:left;
}
.alph{
    background-color:#f5f5f5 ;
    padding: 10px;
}
.alpha{
    color:#808080;
    font-size: 1.05rem;
    margin-left: 20px;
}
.b{
    font-size:2.2em
}
.be{
    font-size: 1.2rem;
    color:#555555;
}
.bee{
    background-color: black;
    width:300px;
    padding-left: 25px;
    margin-left: 25px;
}
.beet{
    color:white;
}
.beta {
    list-style: none;
    color:black;
    font-size: 1rem;
}

.beta li:before {
    content: '✓';
    margin-right: 20px;
}
.g{
    width:400px;
    text-align: left;
    align-items: center;
    border:1px solid #c0c0c0;
    border-top:8px solid #0000ff;
    border-radius: 10px;

}
.ga{
    display:flex;
    justify-content: space-around;
}
.gam{
    margin-top:-5px;
}
.gama{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
}
.cho{
    width:20px;
}
.mo{
    border-radius:50%;
    width:60px;
}

.bad{
    font-weight:bold;
}
.boxe{
    display:flex;
    justify-content: space-around;
    margin-top: 40px;

}
.mots{
    width: 60px;
    height:60px;
    border-radius: 50%;
}
.pad{
    color:#a9a9a9  ;
}
.a{
    text-decoration: none;
    font-size: 1rem;
}
.boxe1{
    border:2px solid #dcdcdc;
    width:300px;
    background-color:white;
    border-radius: 20px;
}
.boxe2{
    padding: 15px;
}
.boxe3{
    margin-left: 60px;
    font-size: 2.1rem;
    margin-top: 50px;
    padding-top: 40px;
}
.low2{
    margin-top: 100px;
    background-color:#f5f5f5 ;
    height:500px;
    margin: auto;
    padding: auto;
}
.ch{
    width: 1100px;
    height: 700px;
}
#c{
    font-weight:300;
    margin-top: 60px;
}
#box{
    font-size: 2.6rem;
}
.low1{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}
#s{
    color: #1a1110;
    font-weight: 600;
    text-decoration: none;
}
#sa{
    width:180px;
    height: 50px;
    margin-top: 60px;
}
.ho{
    display: flex;
    justify-content: space-around;
}
#ho{
    font-size: 1.4rem;
    color: white;
}
#ud{
    color:#6a5acd;
}
.hori{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.05rem;
    margin-bottom: 10px;
    color:white;
}
#num{
color: white;
}
.aam{
padding: 10px;
}
.hor{
    list-style-type: none;
    margin-top: 10px;
    margin-right: 100px;
}
#hor{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
#globe{
    width:50px;
    background-color:black;
    color: white;
}
.horiz{
    margin-top: 15px;
}
#ah{
    color:white;
}
footer{
    background-color:#100c08;
    height: 450px;
}
.globe{
    margin-right: 50px;
}
.maa{
    width:110px;
    margin-left: 50px;
}
.aam{
margin-top: 60px;
}
