@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
*{  
  margin:0;
  padding:0;
}
.a{
  width: 700px;
  height:800px;
  
}
.b{
  width:400px;
  height:400px;
   
}
.c{
  width:280px;
  height: 200px;
  background-color:white;
}